<h3>
  <span>
    Lucky You
  </span>
</h3>
<div class="container">
  <p>
    Meandering along at a casual pace, you notice a small, covered mound on the ground
    just off the road. Investigating further, you realize the mound is a small
    cache of trade goods wrapped in cloth. It must have fallen off a cart of
    some busy merchant speeding down the path. It is clear that these goods have
    been sitting on the ground for a while, so they are not in pristine condition.
  </p>
  <p>
    Regardless, you figure this is about <strong>100 gold worth of trade goods</strong>
    that you can easily sell on your next visit to the merchant. Sometimes it
    pays to take the slow and steady path.
  </p>
  <button (click)="this.router.navigate(['travel-screen'])">
    Continue
  </button>
</div>