<div id="wrapper">
  <div class='classPortrait'>
    <h2>Druid</h2>
    <img src='assets/class-portraits/fetcherDruid.svg' alt='image of druid'>
  </div>
  <div class='characterCreation'>
    <h2><span>Class Perks</span></h2>
    <h3>Passive: Nature's Ally</h3>
    <p>
      You may not have an interest in the life of your fellow man, but you
      share a unique bond with mother nature. During a rest, you will always
      heal for the full amount when camping on your own. Conversely, always
      heal for the minimum amount if camping with a group of people.
    </p>
    <h3>Active: A Weed in Need</h3>
    <p>
      Cost: 1HP. Consult with the locale flora and fauna. Doing so may grant
      you insight into potential dangers ahead or provide clues as to how
      to proceed in the current chapter.
    </p>
    <button (click)="this._attributes.reset()">Reset Character Creation</button>
  </div>
</div>