<div id="navigation" (window:resize)="this.toggleNav()">
  <a class="icon" (click)="this.toggleHideShow()"><i class="fa fa-bars"></i></a>
  <div class="links" [ngStyle]="this.toggleNav()">
    <a routerLink="/">
      <span>Title Screen</span>
    </a>
    <a routerLink="/about" routerLinkActive="navActive"><span>About</span></a>
    <a routerLink="/charCreation" routerLinkActive="navActive">
      <span>Character Creation</span>
    </a>
    <a routerLink="/sideQuests" routerLinkActive="navActive">
      <span>Minigames</span>
    </a>
  </div>
</div>

<router-outlet></router-outlet>