<div id = "navigation">
<div id = "navigationContainer">
<a routerLink = "/"><span>Title Screen</span></a>
<a routerLink = "/about" routerLinkActive = "navActive"><span>About</span></a>
<a routerLink = "/sideQuests"><span>Minigames</span></a>
</div>
</div>

<div id = "sideBar">
<a routerLink = "/about/" routerLinkActive = "navActive2" [routerLinkActiveOptions] = "{exact:true}">
<span>What is Fetcher Quest?</span></a>
<a routerLink = "/about/meet" routerLinkActive = "navActive2" [routerLinkActiveOptions] = "{exact:true}">
<span>Meet Lupin Fetcher</span></a>
<a routerLink = "/about/core" routerLinkActive = "navActive2" [routerLinkActiveOptions] = "{exact:true}">
<span>Core Gameplay</span></a>
<a routerLink = "/about/updates" routerLinkActive = "navActive2" [routerLinkActiveOptions] = "{exact:true}">
<span>Latest Updates</span></a>
</div>

<div id = "content">
<router-outlet></router-outlet>
</div>