h1 {
  font-family: 'Amaranth', 'Arial';
  font-size: 2vw;
  color: #d45500;
  margin-left: 3vw;
  min-width: fit-content;
  max-width: fit-content;
}

h1 span {
  border-bottom: 2.5px solid #d45500;
}

p {
  box-sizing: border-box;
  position: relative;
  color: #1f1c14;
  font-size: 1.3vw;
  font-family: 'Arial';
  padding: 0;
  margin: 1.5vw 3vw 0px 0vw;
  text-align: left;
  left: 3vw;
  width: 74vw;
  cursor: auto;
  /* use this pathway for image background background-image: url(../../../../../assets/bddphoto.jpg);*/
}

span {
  color: #d45500;
}

#container {
  position: relative;
  box-sizing: border-box;
  left: 10vw;
  width: 60vw;
  margin-top: 2%;
}

.topLeft {
  border: 2px solid rgb(255, 51, 0);
  border-right: none;
}

.topMiddle {
  border: 2px solid rgb(255, 51, 0);
}

.topRight {
  border: 2px solid rgb(255, 51, 0);
  border-left: none;
}

.middleLeft {
  border-left: 2px solid rgb(255, 51, 0);
}

.middleMiddle {
  border-left: 2px solid rgb(255, 51, 0);
  border-right: 2px solid rgb(255, 51, 0);
}

.middleRight {
  border-right: 2px solid rgb(255, 51, 0);
}

.bottomLeft {
  border: 2px solid rgb(255, 51, 0);
  border-right: none;
}

.bottomBottom {
  border: 2px solid rgb(255, 51, 0);
}

.bottomRight {
  border: 2px solid rgb(255, 51, 0);
  border-left: none;
}

.topLeft, .topMiddle, .topRight, .middleLeft, .middleMiddle,
.middleRight, .bottomLeft, .bottomBottom, .bottomRight {
  transition-property: all;
  transition-timing-function: ease-out;
  transition-duration: .6s;
}

.error {
  font-size: 1.5vw;
  font-family: 'Arial';
  color: #800000;
  text-align: center;
  margin-top: 3px;
}

input {
  position: relative;
  width: 33%;
  box-sizing: border-box;
  text-align: center;
  font-size: 5vw;
  font-family: 'Amaranth', 'Arial';
  border: none;
}

button {
  display: block;
  box-sizing: border-box;
  margin-top: 20px;
  background-color: #d45500;
  font-size: 1.6vw;
  font-family: 'Amaranth', 'Arial';
  color: white;
  cursor: pointer;
}

button:disabled {
  opacity: 0.7;
  cursor: no-drop;
}

button:hover {
  color: #1f1c14;
}

.iceBlockContainer {
  position: relative;
  margin-top: 0%;
  left: 35%;
  width: 30%;
  height: fit-content;
  border-radius: 10%;
  background: #ecfbfd;
}

.startBridge {
  position: relative;
  left: 42%;
  width: 10%;
  height: 100px;
  background-image: url(../../../../../assets/ice-puzzle/startBridge.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.endBridge {
  position: relative;
  left: 45%;
  width: 10%;
  height: 50px;
  background-image: url(../../../../../assets/ice-puzzle/endBridge.svg);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: bottom;
  margin-top: 2.5%;
}

.absoluteContainer {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid red;
}

.iceBlocks {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 1%;
  width: 18%;
}

.iceBlocks img {
  position: relative;
  vertical-align: middle;
  width: 100%;
  left: 0%;
}

.storyBlock p span {
  display: block;
  color: #a80000;
  margin-left: 10%;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 80%;
  text-decoration: none;
}

.refinerContainer, .refinerContainer2 {
  position: relative;
  box-sizing: border-box;
  width: 70%;
  left: 15%;
  margin-right: 0%;
  margin-top: 10px;
}

.capacitor {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 5%;
  margin-right: 1%;
  margin-left: 1%;
  border: 2px solid #1f1c14;
  vertical-align: bottom;
}

.capacitor:first-child {
  margin-left: 11%;
}

.capacitorLabel {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 5%;
  margin-top: 4px;
  margin-left: calc(10% + 58.9px);
  font-size: 12pt;
  font-family: 'Arial';
  color: #1f1c14;
  text-align: center;
}

.capacitorLabel:first-child {
  margin-left: 11%;
}

.capacitorLabel hr {
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 70%;
  left: 15%;
  color: #1f1c14;
}

.capacitorFill {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  vertical-align: top;
  background-color: #c1090d;
  -webkit-transition-property: height, top;
  -webkit-transition-duration: 0.4s;
  transition-property: height, top;
  transition-duration: 0.4s;
}

.capacitorButtons button {
  position: relative;
  width: 5%;
}

.fa.fa-arrow-left {
  box-sizing: border-box;
  color: #1f1c14;
  font-size: 25px;
  margin-left: 4%;
  border: 2px solid #1f1c14;
  text-align: center;
  padding: 0px 2px 0px 2px;
  cursor: pointer;
}

.fa.fa-arrow-right {
  box-sizing: border-box;
  color: #1f1c14;
  font-size: 25px;
  margin-right: 4%;
  border: 2px solid #1f1c14;
  text-align: center;
  padding: 0px 2px 0px 2px;
  cursor: pointer;
}

.fa.fa-arrow-right, .fa.fa-arrow-left {
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.3s;
  transition-property: background-color;
  transition-duration: 0.3s;
}

.fa.fa-arrow-right:hover, .fa.fa-arrow-left:hover {
  background: #bfb8a2;
}

.contentWrapper {
  position: relative;
  left: 0%;
  width: 104%;
}

#content {
  position: fixed;
  display: block;
  box-sizing: border-box;
  width: 84vw;
  left: 15vw;
  bottom: 0%;
  z-index: 10;
  overflow: hidden;
  border-top: 4px solid #1f1c14;
  padding-top: 5px;
  background: #ffffff;
}

.imageContainers {
  position: relative;
  display: inline-block;
  left: 0%;
  width: 65%;
  vertical-align: top;
  padding-bottom: 5px;
}

.images {
  position: relative;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.choice {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 14%;
  margin-right: 2%;
  vertical-align: bottom;
}

.choice:first-child {
  margin-left: 2%;
}

.choice img {
  display: inline-block;
  width: 100%;
  height: 7vw;
  border: 2px solid black;
}

.mysteryText {
  display: inline-block;
  width: 10%;
  margin-left: 3%;
  text-align: center;
  vertical-align: top;
  margin-top: 2.5%;
  font: 1.5vw "Amaranth";
  text-align: center;
  color: #d45500;
}

.mystery {
  display: inline-block;
  cursor: pointer;
  margin: 0;
  width: 10%;
  margin-left: 1.5%;
  text-align: center;
}

.mystery .tooltiptext {
  visibility: hidden;
  background-color: #1f1c14;
  color: white;
  font: 10pt "Amaranth";
  text-align: center;
  border-radius: 6px;
  padding: 3px;
  position: absolute;
  z-index: 1;
  margin-left: 0%;
  top: 65%;
}

.mystery:hover .tooltiptext {
  visibility: visible;
}

.mystery:active .tooltiptext {
  visibility: visible;
}

.mystery img {
  width: 75%;
  border: 2px solid black;
}

.choice label, .mystery label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font-family: 'Amaranth', 'Arial';
  font-size: 1.3vw;
  color: #d45500;
  text-align: center;
}

.murderMystery {
  width: 100%;
  position: relative;
  left: 0%;
  margin-top: 0;
}

.murderMystery ol {
  position: relative;
  left: 5%;
  font-family: 'Arial';
  font-size: 1.3vw;
  color: #000075;
}

.murderMystery li {
  margin-bottom: 10px;
  margin-right: 12%;
}

.murderMystery .right {
  position: relative;
  left: 75%;
}

.murderImageContainer {
  width: 20%;
  display: inline-block;
  left: 0%;
  position: relative;
}

.murderImageContainer p {
  font-family: 'Amaranth', 'Arial';
  font-size: 1.8vw;
  color: #d45500;
  margin-top: 0;
  position: relative;
  width: 100%;
  text-align: center;
  left: 0;
  box-sizing: border-box;
}

.murderContentContainer {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 75%;
  box-sizing: border-box;
}

.murderContentContainer p {
  margin-top: 1.8vw;
  text-align: left;
  left: 0%;
  font-family: Arial;
  font-size: 1.4vw;
}

.murderContentContainer span {
  display: block;
  margin-bottom: 7px;
  color: #1f1c14;
}

.murderMystery img {
  width: 80%;
  left: 10%;
  box-sizing: border-box;
  position: relative;
}

.turnCounter {
  position: absolute;
  top: 0;
  left: 60%;
  font-family: 'Amaranth', 'Arial';
  font-size: 1.3vw;
  color: #d45500;
  width: 35%;
  text-align: center;
}

@media only screen and (max-width: 780px) {
  .refinerContainer, .refinerContainer2 {
    left: 5%;
    width: 90%;
  }

  .capacitor {
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 6%;
  }

  .capacitor:first-child, .capacitorLabel:first-child {
    margin-left: 0%;
  }

  .capacitorLabel {
    width: 6%;
    margin-left: calc(7% + 31px);
  }

  .fa.fa-arrow-left, .fa.fa-arrow-right {
    font-size: 11px;
    padding: 1px;
  }

  .fa.fa-arrow-left {
    margin-left: 3%;
  }

  .fa.fa-arrow-right {
    margin-right: 3%;
  }

  .murderMystery ol {
    left: 0%;
    margin-right: 10%;
    font-size: 3.2vw;
  }

  .murderMystery li {
    margin-right: 10%;
  }

  .murderMystery .right {
    left: 50%;
  }
}

@media only screen and (max-width: 750px) {
  h1, h1 span {
    left: 0%;
    font-size: 16px;
    max-width: 80%;
    margin-top: 10px;
  }

  #content {
    left: 30vw;
    width: 69vw;
  }

  .choice label {
    font-size: 2vw;
  }

  .mysteryText {
    font-size: 2.2vw;
    margin-right: 8%;
    margin-left: 1.5%;
  }

  .murderMystery img {
    left: 0%;
    width: 100%;
  }

  .murderMystery p, .murderContentContainer p {
    font-size: 3vw;
  }

  .murderImageContainer {
    width: 25%;
  }

  .murderImageContainer p, .turnCounter {
    font-size: 2.5vw;
  }

  .murderImageContainer span {
    font-size: 3vw;
  }

  .murderContentContainer span {
    width: 70%;
    margin-bottom: 4px;
  }

  .murderContentContainer {
    width: 70%;
  }

  @media (orientation: landscape) {
    #content {
      position: relative;
      left: 0%;
      margin-top: 15px;
    }

    .choice {
      margin-left: 59%;
    }

    .imageContainers {
      display: block;
      left: 0%;
      width: 90%;
    }

    .mystery, .mysteryText {
      width: 12%;
    }

    .mysteryText {
      margin-right: 2%;
    }

    .mystery img {
      width: 100%;
    }
  }

  @media (orientation: portrait) {
    .imageContainers {
      display: block;
      left: 0%;
      width: 100%;
    }

    .choice {
      margin-left: 59%;
    }

    .mysteryText {
      margin-right: 2%;
      margin-top: 4%;
    }

    .mystery {
      width: 13%;
      margin-left: 0.5%;
    }

    .mystery img {
      width: 85%;
    }
  }
}

@media only screen and (max-width: 700px) {
  #container {
    left: 0.3vw;
    width: 61vw;
  }

  h1, h1 span {
    left: 0%;
    font-size: 14px;
    max-width: 80%;
    margin-top: 10px;
  }

  p, .error {
    font-size: 3vw;
    width: 58vw;
  }

  button {
    margin-top: 10px;
    font-size: 3vw;
  }

  input {
    font-size: 7vw;
  }

  .iceBlockContainer {
    left: 15%;
    width: 70%;
  }

  .startBridge {
    left: 30%;
    width: 25%;
  }

  .endBridge {
    margin-top: 2%;
    background-size: 90%;
  }

  @supports (-ms-ime-align:auto) {
    input {
      width: 28%;
    }

    p {
      width: 70%;
    }
  }
}