<div id="wrapper">
  <div class='classPortrait'>
    <h2>Mercenary</h2>
    <img src='assets/class-portraits/fetcherMercenary.svg' alt='image of mercenary'>
  </div>
  <div class='characterCreation'>
    <h2><span>Class Perks</span></h2>
    <h3>Passive: Lay of the Land</h3>
    <p>
      As a mercenary, you are used to living off the land using the bare
      minimum to survive. When you choose the careful movement option, you use
      2 supplies instead of the usual 3.
    </p>
    <h3>Active: First Blood</h3>
    <p>
      Cost: 2HP. Whenever you accept someone's request during a chapter, you
      may charge double the initial fee. You must initiate this skill prior
      to accepting the individual's request.
    </p>
    <button (click)="this._attributes.reset()">Reset Character Creation</button>
  </div>
</div>