<div id="wrapper">
  <div class='classPortrait'>
    <h2>Rogue</h2>
    <img src='assets/class-portraits/fetcherRogue.svg' alt='image of rogue'>
  </div>
  <div class='characterCreation'>
    <h2><span>Class Perks</span></h2>
    <h3>Passive: Rogues' Cant</h3>
    <p>
      You are familiar with the secret symbology and language of your fellow
      thieves, beggars, and unscrupulous adventurers. You can pick up on
      signs of danger or refuge that normal people cannot.
    </p>
    <h3>Active: Rolling in the Weeds</h3>
    <p>
      Cost: 2HP. Sensing that danger may be imminent, you can use your
      tumbleweed to roll past inopportune situations. Skip the entire chapter
      you are currently on.
    </p>
    <button (click)="this._attributes.reset()">Reset Character Creation</button>
  </div>
</div>