<div id="wrapper">
  <div class='classPortrait'>
    <h2>Tumblemancer</h2>
    <img src='assets/class-portraits/fetcherNecro.svg' alt='image of mancer'>
  </div>
  <div class='characterCreation'>
    <h2><span>Class Perks</span></h2>
    <h3>Passive: In the Thicket of It</h3>
    <p>
      Given your experiences in the ways of tumblemancy, you possess immense
      knowledge of plant life. You can sometimes salvage useful supplies or
      detect the presence of intelligent plant life during your travels.
    </p>
    <h3>Active: Toil and Tumble</h3>
    <p>
      Cost: 2HP. You can summon a tumbleman to serve you. For all
      purposes, it will serve as your scout taking all damage in your stead
      should you come to harm. Tumbleman possesses 5HP and will disintegrate
      upon death or upon contact with fire. Some characters with strong
      faith may turn hostile and destroy your conjured creature
      if they discover what it is.
    </p>
    <button (click)="this._attributes.reset()">Reset Character Creation</button>
  </div>
</div>