<div id="wrapper">
  <div class='classPortrait'>
    <h2>Lupin</h2>
    <img src='assets/class-portraits/fetcherTrue.svg' alt='image of lupin'>
  </div>
  <div class='characterCreation'>
    <h2><span>Class Perks</span></h2>
    <h3>Passive: Observer</h3>
    <p>
      Thanks to your time spent as an outsider, you can recognize a good
      trope when you see one. You will comment if you have seen or heard of
      a similar situation in the past when encountering certain events.
    </p>
    <h3>Active: Bridge Over Tumbled Water</h3>
    <p>
      Cost: 2HP. Did a situation take an unexpected turn for the worst? Reset
      the chapter and start over with your new-found powers of hindsight.
    </p>
    <button (click)="this._attributes.reset()">Reset Character Creation</button>
  </div>
</div>