<div id="wrapper">
  <div class='classPortrait'>
    <h2>Barbedbarian</h2>
    <img src='assets/class-portraits/fetcherBarb.svg' alt='image of barb'>
  </div>
  <div class='characterCreation'>
    <h2><span>Class Perks</span></h2>
    <h3>Passive: Blood Rush</h3>
    <p>
      You cannot stay still. To rest is to provide an opportunity for your
      enemies to plot their next move. Choosing the rush movement option
      requires only 2HP instead of the normal 3HP cost.
    </p>
    <h3>Active: A Tumbled Mind</h3>
    <p>
      Cost: 1HP. Untrusting and uncontrollable, you do not always see a reasonable
      solution to the problems you face. Activate this skill to see the one
      "sane" solution. Results may vary.
    </p>
    <button (click)="this._attributes.reset()">Reset Character Creation</button>
  </div>
</div>