<h1>
Core Gameplay
</h1>

<p>
Imagine Oregon Trail with puzzle-solving and role-playing elements 
infused into a storyline full of humor and satire of what it means to 
be a hero.  Lupin Fetcher is not the typical white knight, but a middle-aged 
man just looking to survive his last adventure through the world.
</p>

<p>
You will need to manage your resources against the demands of the 
journey and the requests of those you will encounter along the way.  Will 
you help the needy traveler along the way and risk running short on 
supplies yourself or will you forsake them to ensure smoother travels?  
Do you take the longer path to avoid an obstacle or do you ty to overcome 
it?  Many of your decisions will have future consequences on the 
outcome of your journey as you play the game.
</p>

<p>
I am currently developing assets for the game itself.  I will continue 
to add more minigames to this project as times progresses, so please 
feel free to check them out.  I do not have a timeline for completion 
of the game itself, because I am working on this in my spare time in 
addition to my personal learning of Java and other programming pursuits.
</p>