<h1>
  <span>
    Latest Updates
  </span>
</h1>

<h2>January 24th, 2019</h2>
<p [ngStyle]="{'margin-bottom':'0px'}">
  So many changes to discuss! I have been meaning to keep this page updated regularly,
  but I have been busy with many things in addition to designing this game. Several
  minigames have been added in addition to the travel and event screens under the
  standby tab on the navigation bar. The game itself is nearing a playable state
  and I am excited to see everything come together. I am still in the process of
  adding more miniquests and other content, but please look forward to the first
  playable version in the coming months.
</p>
<p>
  With that said, I recently changed how my pages route between one another, so
  if you click on a link and find yourself unexpectedly sent to an error page or
  the home page, please feel free to let me know at dickensb15@ecualumni.ecu.edu.
  Please include Fetcher Quest in the subject line and provide a brief description
  of the issue and I will rectify it as soon as possible. With any luck, the next
  major update will be to announce the first demo of the game itself. Please look
  forward to it!
</p>

<h2>October 20th, 2018</h2>
<p [ngStyle]="{'margin-bottom':'0px'}">
  I just finished the character creation process and a workable demo is
  within our grasp! I have had less time of late to work on my projects
  due to personal responsibilities, but I remain committed to furthering
  both this project and my own knowledge. Next on the agenda: adding more
  minigames and creating the overworld pages to produce a small, but working
  demo of the game itself.
</p>
<p>
  After I get a feel for the requirements, I will
  start working on the backend aspects of Fetcher Quest. I hope to allow
  users to save their game if they choose to. I have no timeline for this,
  but the the app will have to migrate to a site that will support it better
  such as Heroku if that does take place. That being said, please feel free
  to try out the character creation for yourself. Happy Halloween to everyone!
</p>

<h2>September 10th, 2018</h2>
<p>
  It has been quite some time since the last update to Fetcher Quest!
  I have been busy updating my Quiz Maker app from the ground up,
  learning new technologies (Java, MongoDB, Mongoose, Express), so
  this project suffered from a lack of updates. That should change
  soon as I start to primarily focus on this app with the latest batch
  of Quiz Maker updates completed. The new minigame is basically a
  count to 20 game where the player who counts to 20 wins. Harvey is
  certainly no slouch, so expect to need all of your cunning to best him!
</p>

<h2>June 10th, 2018</h2>
<p>
  Launched the initial assets including the title screen,
  about section, and minigame section including the magic
  square minigame.
</p>