<h1>
<span>
Latest Updates
</span>
</h1>

<h2>September 10th, 2018</h2>
<p>
It has been quite some time since the last update to Fetcher Quest!  
I have been busy updating my Quiz Maker app from the ground up, 
learning new technologies (Java, MongoDB, Mongoose, Express), so 
this project suffered from a lack of updates.  That should change 
soon as I start to primarily focus on this app with the latest batch 
of Quiz Maker updates completed.  The new minigame is basically a 
count to 20 game where the player who counts to 20 wins.  Harvey is 
certainly no slouch, so expect to need all of your cunning to best him!
</p>

<h2>June 10th, 2018</h2>
<p>
Launched the initial assets including the title screen, 
about section, and minigame section including the magic 
square minigame.
</p>