<div id="wrapper">
  <div class='classPortrait'>
    <h2>Zealot</h2>
    <img src='assets/class-portraits/fetcherZealot.svg' alt='image of zealot'>
  </div>
  <div class='characterCreation'>
    <h2><span>Class Perks</span></h2>
    <h3>Passive: Hive Mind</h3>
    <p>
      Sated by your own sense of righteousness, you feel neither pain nor
      hunger. You have a chance to rest without supply cost.
    </p>
    <h3>Active: Higher Calling</h3>
    <p>
      Cost: 1HP. As a martyr, you are used to taking punishment to further your
      cause. For the duration of the chapter, any damage you take will be
      reduced to 1. Cannot reduce damage already taken.
    </p>
    <button (click)="this._attributes.reset()">Reset Character Creation</button>
  </div>
</div>