h1 {
	font-family: 'Amaranth', 'Arial';
	font-size: 2vw;
	color: #d45500;
	margin-left: 3vw;
	border-bottom: 2.5px solid #d45500;
	width: fit-content;
	max-width: 25%;
}

p {
	box-sizing: border-box;
	position: relative;
	color: #1f1c14;
	font-size: 1.3vw;
	font-family: 'Arial';
	padding: 0;
	margin: 1.5vw 3vw 0px 0vw;
	text-align: left;
	left: 3vw;
	width: 74vw;
	cursor: auto;
}

@media only screen and (max-width: 700px) {
		
	h1 {
		font-size: 4.5vw;
		max-width: 60%;
	}
	
	p {
		font-size: 3vw;
		width: 60vw;
	}
}