
<h1>
Meet Lupin Fetcher
</h1>

<p>
In the history of world events, there are individuals cut from a 
different cloth.  These individuals are not born into greatness, but 
have greatness thrust upon them as if they were destined for a future 
bigger than themselves.  Lauded as heroes, these legendary figures 
define the timeline in which they lived through their words and actions.
</p>

<p>
And then there are the individuals that accomplish modest deeds through 
modest means.  These are the unsung heroes that serve as intermediaries 
to greatness.  They hold the keys to the kingdom, but know not where the 
door may be.  These people gather, they escort, and they fetch their way 
so that the hero may triumph.  
</p>

<p>
Lupin Fetcher could be referred to as such man.  With a propensity for the mundane 
and a talent for fetching, Lupin Fetcher was the best at what he did.  
Suddenly called out of retirement for one last job, what he believes 
to be a routine job will test his limits as he struggles to come to terms 
with this new generation of heroes.
</p>
