/* You can add global styles to this file, and also import other style files */
body, html {
	min-height: 100%;
	margin: 0;
	overflow-x: hidden;
	overflow-y: visible;
}

#router {
	position: relative;
	box-sizing: border-box;
	left: 0%;
	min-height: 100%;
	margin: 0px;
}

